// PARTIALS
@import 'partials/reset';

// MIXINS
$breakpoints: (
  'medium': 600px,
  'large':  800px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

h1 {
  font-size: 32px;
}

#canvas {
  display: flex;
  flex-flow: column nowrap;
  width: 700px;
  height: 300px;
}

.row {
  flex: 1 1 auto;
  margin: 1px;
  transition: width .5s;
}

.button {
  margin: 10px 10px 10px 0;
}